<pre>
  Valor do Signal: {{ var$() }}
</pre>

<pre>
  Valor do Signal para observable: {{ toObservable$ | async }}
</pre>

<pre>
  Computed: {{ computed$() }}
</pre>

<pre>
  Show Count: {{ showCount$()}}
</pre>

<hr>
<!-- <app-on-push-component /> -->
<hr>
<!-- <button (click)="set">Set</button>
<button (click)="update">Update</button> -->

<button (click)="compute()">compute</button>
<button (click)="change()">change</button>

<hr>

<app-input-signal
  signal="Imputed value"
  disabled
  (hasClicked)="onHasClicked($event)"
  [(inputValue)]="twoWayBinding"
/>

<p> App component twoWayBinding: {{twoWayBinding}}</p>
